/* General styling */
section > h2 {
    margin-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.75rem;
    padding: 50px;
    margin: 0 50px;
}

h1 {
    color: var(--bright-green);
    font-size: 2.5rem;
}

h3 {
    color: var(--bright-green);
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 8px;
}

h5 {
    color: #475066;
    font-size: 0.95rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

section p {
    line-height: 2;
}

.bg-container {
    background: var(--light-green);
}

/* Vision */
.vision p {
    margin-top: 15px;
}

.vision img {
    width: 90%;
    height: 90%;
}

.vision .right {
    display: grid;
    place-items: center;
}

/* Mission */
.mission div:first-child {
    grid-column: span 2;
}

.mission h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem;
    text-transform: unset;
    text-shadow: none;
    text-align: left;
}

.mission {
    border-bottom: 1px solid var(--gray);
}

/* Number data */
.number-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    text-align: center;
    padding: 50px;
}

.number-data h1 {
    font-size: 3rem;
}

/* History */
.history, 
.partners {
    padding: 50px 120px;
    text-align: center;
}

.history img {
    width: 60%;
    margin: 35px;
}

/* Trusted partners */
.partners {
    background: var(--light-green);
}

.partner-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    grid-gap: 4rem;
    margin: 50px 0;
}

.partner-grid img {
    width: 100%;
    filter: grayscale(100%);
    opacity: 0.75;
}

.partner-grid img:nth-child(8) {
    width: 75%;
}

.partner-grid img:nth-child(11) {
    filter: grayscale(500%);
}

/* Media queries */
@media (min-width:1300px) {
    .grid-container {
        margin: 0 300px;
    }

    .number-data {
        padding: 40px 250px 50px;
    }

    .history {
        margin: 0 180px;
    }

    .partner-grid {
        grid-gap: 4rem 6rem;
        margin: 50px 200px;
    }
}