section {
    margin: 50px;
}

h3 {
    text-transform: uppercase;
}

/* Grid styling */
.contact-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1.5rem;
}

.map-container {
    grid-column: span 2;
}

/* Map container */
.contact-heading {
    text-align: center;
    padding: 0 20px 20px;
}

.contact-heading p {
    margin-top: 8px;
}

.map-wrapper iframe {
    width: 100%;
}

/* Contact details */
.contact-details {
    padding: 10px 8px;
}

article {
    margin-bottom: 20px;
}

td {
    font-size: 0.95rem;
    vertical-align: top;
}

tr td:first-child {
    width: 38%;
}

tr td:last-child {
    padding-left: 10px;
}

.social ul {
    display: flex;
    margin-top: 5px;
}

.social ul li {
    list-style: none;
    margin: 0 5px;
}

.social ul li:first-of-type {
    margin-left: 0;
}

img {
    width: 30px;
}

/* Form */
.enquiry-form::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: -10px;
    background: var(--light-gray);
}

.enquiry-form {
    position: relative;
    padding: 0 25px;
}

.enquiry-form h3 {
    text-align: center;
    margin-bottom: 15px;
}

.field {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.95rem;
    border-bottom: 1.5px solid white;
}

.field:focus {
    outline: none;
    border-bottom: 1.5px solid var(--yellow);
    transition: 0.25s all ease-in;
}

#message {
    min-height: 250px;
}

button {
    cursor: pointer;
    color: white;
    background: var(--green);
    width: 100%;
    padding: 10px;
    border: 1px solid var(--green);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

button:hover {
    color: var(--green);
    background: transparent;
}

/* Form validation style */
.no-error {
    margin: 8px 0;
}

.error {
    border: 1.5px solid red !important;
    background: #f8f6f6;
}

.error-message {
    color: red;
    font-size: small;
    margin-bottom: 8px;
}