/* Visitor Nav */
.visitor-nav {
    display: flex;
    color: var(--light-gray);
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

.visitor-nav p {
    margin-left: 10px;
}

.visitor-nav a {
    color: var(--light-gray);
    text-decoration: none;
    margin-left: 10px;
}

.visitor-nav a:hover {
    color: var(--yellow);
}

/* Hero Banner */
.hero-banner {
    background: #c9c9c9;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    place-items: center;
    text-align: center;
}

h1 {
    font-size: 2.25rem;
    text-transform: uppercase;
}

button {
    background: none;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 8px 25px;
    border: 1.5px solid var(--green);
}

button a {
    text-decoration: none;
    color: var(--green);
}

button:hover {
    background: var(--green);
    cursor: pointer;
}

button:hover a {
    color: var(--light-gray);
}

.hero-banner img {
    width: 100%;
    height: 70vh;
}

/* General heading */
.home-heading {
    /* font-size: 1.75rem; */
}

/* Promoted books section */
.book-container {
    margin-top: 2.5rem;
}

.promo-books-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
    justify-content: start;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    padding: 35px 20px 10px 20px;
}

.promo-books {
    display: grid;
    grid-template-rows: 2fr 0.25fr 0.25fr;
}

.book-cover-wrapper img {
    width: 160px;
    height: 245px;
    margin-bottom: 15px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

.book-author {
    margin-top: 5px;
    font-size: 0.9rem;
}

/* Events & Promotions */
.ep-container {
    margin-top: 4rem;
    margin-bottom: 3.5rem;
}

.ep-container > p {
    margin-top: 30px;
    font-size: 1.15rem;
    text-align: center;
}

.ep-container a {
    color: var(--bright-green);
    font-weight: 500;
}

.event-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    justify-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.event-ribbon {
    position: absolute;
    background: var(--yellow);
    padding: 5px 10px;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 0 1rem rgba(0,0,0,0.15);
}

.event-card {
    background: white;
    box-shadow: 0 0rem 1rem rgba(0,0,0,0.1);
}

.event-img img {
    width: 100%;
}

.card-body {
    padding: 10px 15px 20px;
}
