/* Hero Banner */
.owl-carousel {
    position: relative;
    width: 100vw;
    height: 70vh;
    z-index: 5 !important;
}

.owl-prev, 
.owl-next {
    position: absolute;
    width: 50px;
    height: 120px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white) !important;
    background:none !important;
    font-size: 65px !important;
    font-weight: bolder !important;
    transition: 0.2s all ease-in;
}

.owl-prev:hover,
.owl-next:hover {
    background: rgba(0,0,0,0.1) !important;
}

.owl-prev {
    left: 1%;
}

.owl-next {
    right: 1%;
}

.hero-banner {
    background: #c9c9c9;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    place-items: center;
    text-align: center;
}

.item {
    height: 70vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item-2 {
    background-image: url(../Images/Banners&Logo/banner-2.jpg);
}

.item-3 {
    background-image: url(../Images/Banners&Logo/banner-3.jpg);
}

.content {
    height: 70vh;
    position: relative;
    display: grid;
    place-content: center;
}

.content-center {
    text-align: center;
    justify-items: center;
}

.content-right {
    color: var(--white);
    justify-content: left !important;
    padding-left: 55vw;
    padding-right: 5vw;
}

h1 {
    font-size: 2.4rem;
    text-transform: uppercase;
}

.content a {
    text-decoration: none;
}

.item a,
.item button {
    min-width: 150px;
    max-width: 225px;
    color: var(--white);
    background: var(--green);
    justify-content: center;
    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    margin-top: 15px;
    padding: 8px 25px;
}

.item a:hover,
.item button:hover {
    cursor: pointer;
    color: var(--green);
    background: var(--yellow);
}

.hero-banner img {
    width: 50%;
    height: 70vh;
}

/* Promoted books section */
.book-container {
    margin-top: 2.5rem;
}

.promo-books-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
    justify-content: start;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    padding: 35px 20px 10px 20px;
}

.promo-books {
    display: grid;
    grid-template-rows: 2fr 0.25fr 0.25fr;
}

.book-cover-wrapper img {
    width: 160px;
    height: 245px;
    margin-bottom: 15px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

.book-author {
    margin-top: 5px;
    font-size: 0.9rem;
}

/* Events & Promotions */
.ep-container {
    margin-top: 4rem;
    margin-bottom: 3.5rem;
}

.ep-container > p {
    margin-top: 30px;
    font-size: 1.15rem;
    text-align: center;
}

.ep-container a {
    color: var(--bright-green);
    font-weight: 500;
}

.ep-container a:hover {
    color: var(--yellow);
}

.event-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    justify-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.event-ribbon {
    position: absolute;
    background: var(--yellow);
    padding: 5px 10px;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 0 1rem rgba(0,0,0,0.15);
}

.event-card {
    background: white;
    box-shadow: 0 0rem 1rem rgba(0,0,0,0.1);
}

.event-img img {
    width: 100%;
}

.card-body {
    padding: 10px 15px 20px;
}
