/* Visitor Nav */
.visitor-nav {
    display: flex;
    color: var(--light-gray);
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

.visitor-nav span {
    margin-left: 10px;
}

.visitor-nav a {
    color: var(--light-gray);
    text-decoration: none;
    margin-left: 10px;
}

.visitor-nav a:hover {
    color: var(--yellow);
}

/* Hero Banner */
.hero-banner img {
    width: 100%;
    height: 70vh;
}

/* Promoted books section */
.book-container {
    margin: 2.25rem auto;
}

.promo-books-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 0 10vw;
    padding: 35px 30px 10px 30px;
}

.promo-books {
    display: grid;
    grid-template-rows: 2fr 0.25fr 0.25fr;
}

.book-cover-wrapper img {
    width: 180px;
    height: 275px;
    margin-bottom: 15px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.book-author {
    margin-top: 5px;
    font-size: 0.9rem;
}

/* Promo Banner */
.promo-container {
    position: relative;
}

.promo-banner img {
    width: 100%;
    height: 65vh;
}

.click-btn {
    position: absolute;
    top: 68%;
    left: 58%;
}

.click-me {
    background-color: black;
    padding: 8px 1.8rem;
    border: none;
}

.click-me a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
}

/* Visitor button */
.click-btn-visitor {
    position: absolute;
    top: 68%;
    left: 58%;
}

/* Events & Promotions */
.ep-container {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.ep-container > p {
    margin-top: 50px;
    font-size: 1.15rem;
    text-align: center;
}

.event-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    justify-items: center;
    justify-content: center;
    padding: 20px 2.5rem;
    margin: 20px 8rem;
}

.event-ribbon {
    position: absolute;
    background: var(--yellow);
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.event-card {
    width: 300px;
    background: white;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.event-img img {
    width: 300px;
}

.card-body {
    padding: 10px 15px 20px;
}