@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

:root {
    --white: #F1F1F1;
    --gray: #9B9B9B;
    --light-gray: #CFD2D7;
    --yellow: #F6BD60;
    --gold-crayola: #E4BC7F;
    --green: #345457;
    --light-green: #e8e9e7;
    --bright-green: #326560;
    --brand-font: 'Philosopher', sans-serif;
}

/* General styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
    font-family: 'Poppins', sans-serif;
}

h3 {
    color: var(--bright-green);
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 5px auto 20px;
}

/* Header */
nav {
    height: 65px;
    background: rgb(246, 248, 245);
    padding: 10px 30px 8px;
}

.logo-container {
    cursor: pointer;
    display: flex;
    width: max-content;
    align-items: center;
}

nav img {
    width: 65px;
    padding-bottom: 5px;
    margin-right: 10px;
}

a {
    display: flex;
    align-items: center;
}

.brand-name a {
    color: var(--gray);
    text-decoration: none;
    font-family: var(--brand-font);
    font-size: 1.35rem;
    font-weight: bold;
    text-shadow: 0 1rem 2.5rem rgba(0,0,0,0.5);
}

span {
    margin-left: 5px;
    color: var(--bright-green);
}

/* Background */
main {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 100%;
    height: calc(100vh - 65px);
    background: url(../Images/Banners&Logo/library.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
}

main::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--green);
    opacity: 0.2;
    z-index: 1;
}

/* Form */
.form-wrapper {
    position: relative;
    width: 350px;
    display: grid;
    place-items: center;
    background: var(--light-green);
    border-radius: 8px;
    padding: 25px;
    z-index: 4;
}

.sign-up {
    margin: 10vh auto;
}

.sign-in {
    margin: 20vh auto;
}

form {
    position: relative;
    z-index: 5;
}

.field {
    width: 100%;
    background: rgba(155, 155, 155, 0.15);
    border: 1px solid var(--bright-green);
    border-radius: 2px;
    font-size: 1rem;
    padding: 10px 15px;
    margin-bottom: 12px;
}

.field:focus {
    background: rgba(255, 255, 255, 0.4);
    outline: 1.5px solid var(--bright-green);
}

form > input:last-child {
    cursor: pointer;
    width: 100%;
    color: white;
    background: var(--green);
    border: 1px solid var(--green);
    border-radius: 2px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: 5px;
    transition: 0.2s all ease;
}

form > input:last-child:hover {
    background: var(--yellow);
    border: 1px solid var(--yellow);
    transform: scale(1.02);
}

/* Login */
.login {
    display: flex;
    color: var(--gray);
    font-size: 0.9rem;
    margin-top: 15px;
}

.login a {
    color: var(--bright-green);
    text-decoration: none;
    margin-left: 5px;
}

.login a:hover {
    color: var(--yellow);
}

/* Media query */
@media (min-width:1300px) {
    .form-wrapper {
        width: 420px;
    }

    .sign-up {
        margin: 23vh auto;
    }

    .sign-in {
        margin: 30vh auto;
    }
}
