@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

:root {
    --white: #F1F1F1;
    --gray: #9B9B9B;
    --light-gray: #CFD2D7;
    --yellow: #F6BD60;
    --gold-crayola: #E4BC7F;
    --green: #345457;
    --light-green: #e8e9e7;
    --bright-green: #326560;
    --brand-font: 'Philosopher', sans-serif;
}

/* General styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
    font-family: 'Poppins', sans-serif;
}

/* Header */
nav {
    height: 65px;
    background: rgb(246, 248, 245);
    padding: 10px 30px 8px;
}

.logo-container {
    cursor: pointer;
    display: flex;
    width: max-content;
    align-items: center;
}

nav img {
    width: 65px;
    padding-bottom: 5px;
    margin-right: 10px;
}

a {
    display: flex;
    align-items: center;
}

.brand-name a {
    color: var(--gray);
    text-decoration: none;
    font-family: var(--brand-font);
    font-size: 1.35rem;
    font-weight: bold;
    text-shadow: 0 1rem 2.5rem rgba(0,0,0,0.5);
}

span {
    margin-left: 5px;
    color: var(--bright-green);
}

/* Background */
main {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 100%;
    height: calc(100vh - 65px);
    display: grid;
    place-items: center;
    background: url(../Images/Banners&Logo/library.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
}

main::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--green);
    opacity: 0.15;
    z-index: 1;
}

/* Form */
.form-wrapper {
    position: relative;
    width: 355px;
    background: var(--light-green);
    border-radius: 8px;
    padding: 40px;
    z-index: 4;
}

form {
    z-index: 5;
}

h3 {
    color: var(--bright-green);
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 20px;
}

/* Login heading container */
.heading-container {
    height: 80px;
    display: grid;
    grid-template-rows: 40px 40px;
}

.sign-in h3 {
    margin: auto;
}

/* Input box */
.field {
    width: 100%;
    background: rgba(155, 155, 155, 0.15);
    border: 1px solid var(--bright-green);
    border-radius: 2px;
    padding: 10px 12px;
    outline: none;
}

.field:focus {
    background: rgba(255, 255, 255, 0.4);
    outline: 1.5px solid var(--bright-green);
}

/* Eye-icon */
.password-field {
    position: relative;
}

.show-password {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--bright-green);
    background: transparent;
    opacity: 0.7;
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 10px;
    padding-right: 15px;
}

.show-password:hover {
    color: var(--gold-crayola);
}

/* Submit button */
.submit {
    cursor: pointer;
    width: 100%;
    color: white;
    background: var(--bright-green);
    border: 2px solid var(--bright-green);
    border-radius: 2px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px;
    margin-top: 5px;
    transition: 0.2s all ease;
}

.submit:hover {
    background: var(--yellow);
    border: 2px solid var(--yellow);
    transform: scale(1.02);
}

/* Form validation style */
.no-error {
    margin-bottom: 8px;
}

.error {
    border: none;
    outline: 1.5px solid red;
    background: #f8f6f6;
}

#password-error,
.error-message {
    display: none;
    color: red;
    font-size: 0.75rem;
    margin-bottom: 12px;
}

.sign-in .error-message {
    font-size: small;
    text-align: center;
    margin-top: 8px;
}

#password-validation {
    display: none;
    margin: 12px 0 8px;
}

.spans {
    height: 8px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.spans span {
    width: 100%;
    background: var(--gray);
    border-radius: 3px;
    transition: background 0.25s linear;
}

.invalid {
    margin-left: 0;
}

.invalid.active {
    background: red;
}

.invalid.inactive {
    background: green;
}

.valid.active {
    background: green;
}

#prompt {
    display: block;
    color: blue;
    font-size: 0.8rem;
}

#indicator {
    display: none;
    font-size: 0.8rem;
}

#indicator.empty {
    color: blue;
}

#indicator.weak {
    color: red;
}

#indicator.good {
    color: green;
}

/* Account */
.account {
    display: flex;
    color: var(--gray);
    font-size: 0.9rem;
    justify-content: center;
    margin-top: 15px;
}

.account a {
    color: var(--bright-green);
    text-decoration: none;
    margin-left: 5px;
}

.account a:hover {
    color: var(--yellow);
}

/* Media query */
@media (min-width:1300px) {
    .form-wrapper {
        width: 420px;
    }
}
