@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

:root {
    --white: #F1F1F1;
    --gray: #9B9B9B;
    --light-gray: #CFD2D7;
    --yellow: #F6BD60;
    --gold-crayola: #E4BC7F;
    --green: #345457;
    --light-green: #e8e9e7;
    --bright-green: #326560;
    --brand-font: 'Philosopher', sans-serif;
}

/* General styling */
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
    font-family: 'Poppins', sans-serif;
}

/* Font styling */
.brand-name, 
.brand-name a {
    color: var(--gray);
    font-family: var(--brand-font);
    text-decoration: none;
    text-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
}

.brand-font,
.brand-name span {
    color: var(--yellow);
}

h2 {
    color: var(--bright-green);
    font-family: var(--brand-font);
    font-size: 2rem;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

h4 {
    font-weight: 600;
    text-transform: capitalize;
}

.book-title {
    width: 100%;
    height: 40px;
    line-height: 1.25;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.book-author {
    text-transform: capitalize;
}

/*Navigation bar*/
nav {
    height: 60px;
    position: relative;
    background: var(--green);
    display: grid;
    grid-template-columns: 1fr 4fr 0.75fr;
    align-items: center;
    padding: 0 20px 0 30px;
}

.header-logo-container {
    cursor: pointer;
    width: max-content;
    display: grid;
    grid-template-columns: 0.5fr 1.25fr;
    align-items: center;
}

.list-container {
    display: grid;
    place-content: center;
}

.user-container {
    display: grid;
    justify-content: end;
}

.header-brand-name {
    display: grid;
    margin-left: 8px
}

.header-brand-name a {
    font-size: 1.05rem;
    line-height: 1;
}

.header-brand-name a:last-child {
    color: var(--yellow);
    margin-left: 8px;
}

.logo {
    width: 55px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 18px;
}

.visitor-nav a,
nav ul li a {
    text-decoration: none;
    color: var(--light-gray);
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

.visitor-nav a:hover,
nav ul li a:hover {
    color: var(--yellow);
}

.visitor-nav {
    display: flex;
}

.visitor-nav p {
    margin-left: 10px;
    color: var(--light-gray);
}

.visitor-nav a {
    margin-left: 10px;
}

/* User section */
.user-container {
    width: 180px;
    height: 35px;
    color: var(--light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    padding: 5px 15px;
}

.user-account {
    cursor: pointer;
}

.user-account:hover {
    color: var(--white);
    background-color: var(--bright-green);
    border-radius: 5px;
}

#profile-name {
    font-weight: 500;
    text-transform: capitalize;
}

.fa-user {
    margin-left: 15px;
}

.profile-icon {
    text-align: right;
}

/* Dropdown */
.dropdown {
    min-width: 180px;
    position: absolute;
    top: 60px;
    right: 20px;
    color: var(--green);
    background: var(--light-gray);
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    border-radius: 0 0 2px 2px;
    padding-bottom: 20px;
    transition: 0.2s all ease-in;

    /* Box shadow */
    -webkit-box-shadow: 0px 25px 15px -9px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 25px 15px -9px rgba(0,0,0,0.5);
    box-shadow: 0px 25px 15px -9px rgba(0,0,0,0.5);

    z-index: 10;
}

.hide {
    visibility: hidden;
}

.dropdown li {
    cursor: pointer;
    width: 75%;
    position: relative;
    list-style: none;
    margin: 12px 19px 10px 22px;
    padding: 8px 5px;
}

.separator::after {
    position: absolute;
    content: '';
    width: 80%;
    height: 0.5px;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #326560;
}

.dropdown li:first-of-type {
    cursor: context-menu;
}

.dropdown li:hover {
    color: var(--white);
    background: var(--bright-green);
    border-radius: 3px;
}

#redirect {
    margin-top: 15px;
}

#logout {
    cursor: pointer;
    width: 75%;
    color: var(--light-gray);
    background: var(--green);
    display: grid;
    align-items: center;
    justify-items: center;
    font-weight: 500;
    border-radius: 2px;
    padding: 7px;
    margin: 22px auto 0;
}

#logout:hover {
    color: var(--green);
    background: var(--yellow);
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
}

/* Footer */ 
footer {
    width: 100%;
    background: var(--green);
}

.footer-logo-container {
    cursor: pointer;
    display: grid;
    place-items: center;
    width: max-content;
    margin: auto;
    padding-top: 15px;
}

.footer-logo-container img {
    width: 160px;
}

.footer-brand-name {
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 1.15;
}

.footer-brand-name a:last-child {
    color: var(--yellow);
}

footer ul {
    margin: 8px auto;
    text-align: center;
}

footer ul li {
    display: inline-block;
    list-style-type: none;
    top: 0;
    left: 0;
    padding: 12px 5px;
    margin: 0 5px;
    color: var(--light-gray);
    font-size: 1.1rem;
}

footer ul li:first-of-type {
    margin-left: 0;
}

.line-wrapper {
    width: 100%;
}

.horizontal-line {
    height: 1px;
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid var(--white);
}

.footer-end {
    color: var(--light-gray);
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.footer-end a {
    text-decoration: none;
    color: var(--light-gray);
}

.footer-end a:hover {
    color: var(--yellow);
}