section {
    min-height: 55vh;
    overflow: hidden;
    justify-content: center;
    margin: 50px;
}

/* Form */
form {
    display: flex;
    justify-content: center;
    margin: 30px auto 60px;
}

form input,
form select,
form button {
    height: 45px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 12px;
}

form input {
    min-width: 300px;
}

form select {
    min-width: 150px;
}

form button {
    margin-right: 0;
}

.input {
    margin-bottom: 0px;
}

input:focus, 
select:focus {
    outline: 1.5px solid var(--green);
}

.btn-container button {
    cursor: pointer;
    width: 125px;
    color: white;
    font-size: 0.95rem;
    justify-content: center;
    padding: 10px;
    transition: 0.2s;
}

.btn-container button:hover {
    transform: scale(1.01);
}

#add {
    background: #198754;
}

#add:hover {
    background: #157347;
}

#update {
    display: none;
    background: #0d6efd;
}

#update:hover {
    background: #0b5ed7;
}

.fa-user-plus {
    font-size: 0.8rem;
}

/* Table */
table {
    min-width: 950px;
    max-width: 1000px;
    justify-content: center;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    margin: 0 auto 100px;
}

thead {
    max-width: 50px !important;
    color: var(--white);
    background: var(--bright-green);
    font-size: 1.1rem;
}

th {
    font-weight: 500;
    text-align: left;
    padding: 8px 15px;
}

th:nth-of-type(3),
th:last-of-type, 
td:nth-child(3) {
    text-align: center;
}

th:nth-of-type(3) {
    width: 20%;
}

th:last-of-type {
    width: 20%;
}

tbody {
    background: white;
    margin-top: 20px;
}

tbody tr {
    border-bottom: 1px solid var(--light-gray);
}

td {
    height: 55px !important;
    font-size: 1rem;
    padding: 0;
    padding: 5px 8px 5px 0;
}

tr td:first-child {
    padding-left: 15px;
}

.capitalize {
    text-transform: capitalize;
}

.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    cursor: pointer;
    width: 105px;
    height: 35px;
    list-style: none;
    background: var(--white);
    font-size: 0.85rem;
    border-radius: 5px;
    padding: 6px 15px;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    color: var(--white);
}

.left-btn {
    color: var(--green);
    border: 1.5px solid var(--green);
    margin-left: 5px;
    margin-right: 8px;
}

.left-btn:hover {
    background: var(--green);
}

.right-btn {
    color: #93032E;
    border: 1.5px solid #93032E;
    margin-right: 5px;
}

.right-btn:hover {
    background: #93032E;
}

.fa-solid {
    margin-right: 8px;
}

/* Form validation style */
.error {
    border: none;
    outline: 1.5px solid red;
    background: #f8f6f6;
}

#error-message {
    height: 20px;
    display: flex;
    visibility: hidden;
    color: red;
    font-size: 0.85rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto 0;
}

/* Media queries */
@media (min-width: 1300px) {
    table {
        min-width: 1200px;
        max-width: 1500px;
    }
}